# Keil µVision Debugger files
*.ini
*.opt
*.scvd

# Build output files
MDK-ARM/zj-one/*.o
MDK-ARM/zj-one/*.d
MDK-ARM/zj-one/*.axf
MDK-ARM/zj-one/*.hex
MDK-ARM/zj-one/*._ia
MDK-ARM/zj-one/*.__i
MDK-ARM/zj-one/*.crf
MDK-ARM/zj-one/*.lst
MDK-ARM/zj-one/*.map
MDK-ARM/zj-one/*.lnp
MDK-ARM/zj-one/*.build_log.htm
MDK-ARM/zj-one/*.htm
MDK-ARM/zj-one/zj-one_zj-one.dep
MDK-ARM/zj-one/ExtDll.iex

# IDE files
.vscode/keil-assistant.log
*.uvguix.*
*.uvoptx
*.uvprojx

# OS files
.DS_Store
Thumbs.db

# Build directories
build/
dist/
